<div class="container">
	<p>index view</p>

	<div class="col-xs-12">		
		<%= form_tag(feeder_path, :method => "get", :enforce_utf8 => false) do %>
			<div class="col-xs-6">
				<%= text_field_tag :summoner_name, nil, class: "form-control", placeholder: "Summoner name" %>
			</div>		
			<%= submit_tag "Search summoner", class: "btn btn-primary", :name => nil %>
		<% end %>
		<hr />
		<%= form_tag(feeder_team_path, :method => "get", :enforce_utf8 => false) do %>
			<div class="col-xs-6">
				<%= text_field_tag :summoner_name, nil, class: "form-control", placeholder: "Summoner name" %>
			</div>		
			<%= submit_tag "Search team", class: "btn btn-primary", :name => nil %>
		<% end %>
	</div>	
</div>
	